*~
/build*/
/bindings/build*/
/bindings/check*/
/bindings/java/
/bindings/lua/
/bindings/python/
/bindings/ruby/
*kdev*
*.orig
tags
/author-gpl.txt
/license-*.txt
/license_check/
/install*/
ALL_BUILD.vcxproj
*.obj
*.tlog
*.lastbuildstate
*.filters
*.log
*.cache
*.exe
*.ilk
*.stamp
*.depend
*.cmake
*.lib
*.dll
*.exp
*.pdb
*.list
*.rule
.vs/YARP/v14/.suo
CMakeFiles/feature_tests.bin
CMakeFiles/feature_tests.cxx
CMakeFiles/3.2.3/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.2.3/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.2.3/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.2.3/CompilerIdC/CompilerIdC.vcxproj
CMakeFiles/3.2.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/3.2.3/CompilerIdCXX/CompilerIdCXX.vcxproj
extern/tinyxml/INSTALL.vcxproj
extern/tinyxml/PACKAGE.vcxproj
extern/tinyxml/RUN_TESTS.vcxproj
extern/tinyxml/YARP_priv_tinyxml.sln
extern/tinyxml/YARP_priv_tinyxml.vcxproj
src/yarpmanager/tests/RUN_TESTS.vcxproj
src/yarpmanager/ymanager/INSTALL.vcxproj
src/yarpmanager/ymanager/PACKAGE.vcxproj
src/yarpmanager/ymanager/RUN_TESTS.vcxproj
src/yarpmanager/ymanager/yarpmanager.vcxproj
src/yarpmanager/libymanager/RUN_TESTS.vcxproj
src/yarpmanager/libymanager/YARP_manager.sln
src/yarpmanager/libymanager/YARP_manager.vcxproj
src/yarpmanager/tests/INSTALL.vcxproj
src/yarpmanager/tests/PACKAGE.vcxproj
src/yarpmanager/libymanager/INSTALL.vcxproj
src/yarpmanager/libymanager/PACKAGE.vcxproj
